{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    <title>Flight Ticket Price Prediction</title>
    <style>
      body{
          margin: 0px;
      } 
      footer{
        width:100%;
        background: rgba(14, 14, 14, 0.7);
        padding:0px 0px;
        height:35px;
        color: ivory;
        margin-bottom: 0px;
        font-size: 15px;
} </style>
</head> 

<body >
<footer>
    <section class="wrapper">
    <nav>
        <h2>&copy;Developed by Ankit Kumar(1RV19MCA08) & Ashish Bhardwaj(1RV19MCA16), 4th sem</h2>
    </nav>
    </section>
</footer></body>
</html>